#landing-products-page {
  height: 100vh;
  /* max-width: 1500px; */
  margin: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#landing-products-container {
  display: flex;
  gap: .75rem;
  min-height: 15rem;
  max-height: 40%;
  width: 100%;
  max-width: 1500px;
}

#large-link {
  width: 40%;
}

#large-landing-product {
  width: 100%;
  height: 100%;
}

#large-product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: .75rem;
}

#large-price {
  position: relative;
  bottom: 14%;
  left: 81%;
  background-color: white;
  width: fit-content;
  padding: .1rem .25rem;
  font-size: 12px;
  font-weight: 600;
  border-radius: .5rem;
}

#small-landing-products {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 100%;
  gap: .75rem;
}

.small-row {
  display: flex;
  height: 47.5%;
  gap: .75rem;
}

.small-product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: .75rem;
}

.small-price {
  position: relative;
  bottom: 35%;
  left: 60%;
  background-color: white;
  width: fit-content;
  padding: .1rem .25rem;
  font-size: 12px;
  font-weight: 600;
  border-radius: .5rem;
}

.landing-link {
  border-radius: .75rem;
  width: 30%;
  text-decoration: none;
}

.landing-link:hover {
  box-shadow: 0 0 8px 1px #919191;
}

.landing-products-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Shippori Mincho';
  color: white;
  background-color: #F1641E;
  border: 1px solid #919191;
  padding: .5rem 1rem;
  border-radius: 1.25rem;
  margin-right: 5%;
}

.landing-products-link:hover {
  background-color: #D95C1F;
  box-shadow: 0 0 8px 1px #DEDEDE;
}

.landing-products-link:active {
  background-color: #C6541A;
}

#landing-links {
  max-width: 1500px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* box-sizing: border-box; */
}

#landing-shops-link {
  color: #222222;
  background-color: #e9e9e9;
}

#landing-shops-link:hover {
  background-color: #DEDEDE;
  box-shadow: 0 0 8px 1px #DEDEDE;
}

#landing-shops-link:active {
  background-color: #d2d2d2;
}
